<div class="container student-data">
    <div class="row student-division-1">
        <div class="col-md-6">
            <p class="student-topic">
                Students Data
            </p>
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary add-student-btn" (click)="addStudent()">Add Student</button>
        </div>
    </div>
    <div class="student-division-2">
        <div class="container card student-table-title-card">
            <div class="row">
                <div class="col-md-2">
                    <label class="student-table-title">First Name</label>
                </div>
                <div class="col-md-2">
                    <label class="student-table-title">Last Name</label>
                </div>
                <div class="col-md-2">
                    <label class="student-table-title">Age</label>
                </div>
                <div class="col-md-2">
                    <label class="student-table-title">City</label>
                </div>
                <div class="col-md-1">
                    <label class="student-table-title">Height(cm)</label>

                </div>
                <div class="col-md-1">
                    <label class="student-table-title">Weight(kg)</label>
                </div>

                <div class="col-md-2">
                    <label class="student-table-title">Actions</label>
                </div>

            </div>
        </div>
    </div>

    <div class="student-division-3">
        <div class="container card student-table-data-card" *ngFor="let stu of students">
            <div class="row" >
                <div class="col-md-2">
                    <label class="student-table-data">{{stu.firstName}}</label>
                </div>
                <div class="col-md-2">
                    <label class="student-table-data">{{stu.lastName}}</label>
                </div>
                <div class="col-md-2">
                    <label class="student-table-data">{{stu.age}}</label>
                </div>
                <div class="col-md-2">
                    <label class="student-table-data">{{stu.city}}</label>
                </div>
                <div class="col-md-1">
                    <label class="student-table-data">{{stu.height}}</label>

                </div>
                <div class="col-md-1">
                    <label class="student-table-data">{{stu.weight}}</label>
                </div>
                <div class="col-md-2">
                    <div class="row">
                        <div class="col-md-6  student-action-btn-div">
                            <button class="btn btn-success student-action-btn" (click)="editStudent(stu.id)"><label
                                    class="stundet-label-text">Edit</label></button>
                        </div>
                        <div class="col-md-6  student-action-btn-div">
                            <button class="btn btn-danger student-action-btn" (click)="deleteStudent(stu.id)"><label
                                    class="stundet-label-text">Delete</label></button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>