<div class="row home-main">
    <div class="container division-1">
        <label class="row home-topic">
            Student Management System
        </label>
    </div>

    <div class="container division-2">
        <p class="row home-description">Student Information System (SIS) or a Student Management System (SMS) is a fully computerized system designed to manage, store, track, retrieve, and analyze student-related data. The data is saved at a centralized location & role-based login access is given to all the stakeholders for ensuring student data security.</p>
    </div>
</div>