.home-main {

  background: linear-gradient(rgba(43, 43, 43, 0.534), rgba(0, 0, 0, 0.445)),
    url("../../../assets/backgrounds/homepage-background.jpg");
  min-height: 640px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  // margin-top: -60px;


  .home-topic {
    margin-top: 150px;
    font-size: 70px;
    color: #ffffff;
    display: block;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-weight: 500;
  }

  .home-description{
    margin: -100px 50px 0px 50px;
    font-size: 20px;
    color: #ffffff;
    display: block;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-weight: 500;
  }
}
