<div class="row home-main">
    <div class="container division-1">
        <label class="row home-topic">
            Student Management System
        </label>
    </div>

    <div class="container division-2">
        <div class="row">
            <div class="col-md-6">
                <p class="row home-description">A student management system (also known as a student information system
                    or
                    SIS)
                    helps a school manage data, communications, and scheduling.A school system generates and uses a
                    large amount of data. This data
                    must
                    be
                    communicated appropriately to students, faculty, and parents. A student management system helps
                    schools
                    to
                    store, manage, and distribute this information.</p>

            </div>
            <div class="col-md-6">


                <p class="row home-description-2">Some student management systems are designed to serve
                    all
                    of
                    a school’s data management needs. Other student management systems are specialized. These
                    specialized
                    solutions target specific needs, such as school applications or student behavior tracking.</p>
            </div>
        </div>
    </div>