<div class="row footer-div">
    <div class="container">
        <div class="row footer-div-1">
            <div class="col-md-3">
                <p class="footer-logo">Student Management System</p>
                <!-- <img alt="" src={require('../../assets/logo/Project Logo white.png')} /> -->

            </div>

            <div class="col-md-6">
                <p class="company-name">About</p>
                <p class="footer-text"><b>E Supervision</b> is an IT project supervision platform designed
                    specifically for universities,
                    that will help improve the effectiveness of the procedures of projects undertaken by the students.
                </p>

            </div>

            <div class="col-md-3">
                <p class="company-name">Contact Us</p>
                <div class="col-md-12  zero-padding">
                    <button class="btn btn-primary">Contact Us</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <hr />
    </div>
    <div class="container">
        <p class="copyright">
            Copyright &copy; 2021 Sachin TS Muthumala.
            All rights reserved
            &reg;.
        </p>
    </div>
</div>