<div class="row footer-div">
    <div class="container">
        <div class="row footer-div-1">
            <div class="col-md-3">
                <!-- <p class="footer-logo">Student Management System</p> -->
                <img alt='image' src='../../../../../../assets/logo/SMS-Logo.png' class="footer-logo"> 

            </div>

            <div class="col-md-6">
                <p class="company-name">About</p>
                <p class="footer-text"> A <b>Student management system </b>(also known as a student information system
                    or
                    SIS)
                    helps a school manage data, communications, and scheduling.A school system generates and uses a
                    large amount of data..
                </p>

            </div>

            <div class="col-md-3">
                <p class="company-name">Contact Us</p>
                <div class="col-md-12  zero-padding">
                    <button class="btn btn-primary">Contact Us</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <hr />
    </div>
    <div class="container">
        <p class="copyright">
            Copyright &copy; 2021 Sachin TS Muthumala.
            All rights reserved
            &reg;.
        </p>
    </div>
</div>