.footer-div {
  // padding-bottom: 10px;
  background-color: #202425;
}

.company-name {
  color: #eaf3ff;
  font-size: 1.7em;
  font-weight: 400;
}

.footer-div-1 {
  margin-top: 20px;
}

.address {
  color: #eaf3ff;
  font-size: 1em;
  font-weight: 300;
  margin-top: -18px;
}

hr {
  background-color: #eaf3ff;
  width: 101%;
  margin-left: -15px;
}

.copyright {
  font-size: 14px;
  color: #eaf3ff;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.footer-text {
  color: #eaf3ff;
  font-size: 13px;
  text-align: justify;
}


.footer-logo {
  color: #ffffff;
  font-size: 27px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  border : 2px solid;
  border-radius: 5px;
  margin-top: 20px;
}
