<div class="container student-data">

    <div class="row division-2">
        <div class="card student-data-card">
            <div class="container">
                <div class="division-1">
                    <p class="student-data-topic">Student Details</p>
                </div>

                <hr>

                <div class="row card-div">
                    <div class="col-md-6">
                        <div class="row">

                            <div class="col-md-3">
                                <label class="student-data-card-label">
                                    First Name
                                </label>
                            </div>
                            <div class="col-md-9">
                                <label class="student-data-card-data">
                                    {{$any(studentData).firstName}}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row ">
                            <div class="col-md-3">
                                <label class="student-data-card-label">
                                    Last Name
                                </label>
                            </div>
                            <div class="col-md-9">
                                <label class="student-data-card-data">
                                    {{$any(studentData).lastName}}

                                </label>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row card-div">
                    <div class="col-md-6">
                        <div class="row">

                            <div class="col-md-3">
                                <label class="student-data-card-label">
                                    Age
                                </label>
                            </div>
                            <div class="col-md-9">
                                <label class="student-data-card-data">
                                    {{$any(studentData).age}}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="row">

                            <div class="col-md-3">
                                <label class="student-data-card-label">
                                    City
                                </label>
                            </div>
                            <div class="col-md-9">
                                <label class="student-data-card-data">
                                    {{$any(studentData).city}}
                                </label>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="row card-div">
                    <div class="col-md-6">

                        <div class="row">
                            <div class="col-md-3">
                                <label class="student-data-card-label">
                                    Height 
                                </label>
                            </div>
                            <div class="col-md-8">
                                <label class="student-data-card-data">
                                    {{$any(studentData).height}} cm
                                </label>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="row">
                            <div class="col-md-3">
                                <label class="student-data-card-label">
                                    Wight
                                </label>
                            </div>
                            <div class="col-md-8">
                                <label class="student-data-card-data">
                                    {{$any(studentData).weight}} kg
                                </label>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row card-div">
                    <div class="col-md-6">

                        <div class="row">
                            <div class="col-md-3">
                                <label class="student-data-card-label">
                                    Hobbies
                                </label>
                            </div>
                            <div class="col-md-9">
                                <p class="student-data-card-data" *ngFor="let hobby of hobbies">
                                    {{hobby.name}}
                                </p>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>