<div class="container student-data">
    
    <div class="row division-2">
        <div class="card student-data-card">
            <div class="container">
                <div class="division-1">
                    <p class="student-data-topic">Student Details</p>
                </div>


                <div class="row card-div">
                    <div class="col-md-6">
                        <div class="row">

                            <div class="col-md-3">
                                <label class="student-data-card-label">
                                    First Name
                                </label>
                            </div>
                            <div class="col-md-9">
                                <label class="student-data-card-data">
                                    {{studentData | json}}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row ">
                            <div class="col-md-3">
                                <label class="student-data-card-label">
                                    Last Name
                                </label>
                            </div>
                            <div class="col-md-9">
                                <label class="student-data-card-data">
                                    First Name
                                </label>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row card-div">
                    <div class="col-md-6">
                        <div class="row">

                            <div class="col-md-3">
                                <label class="student-data-card-label">
                                    Age
                                </label>
                            </div>
                            <div class="col-md-9">
                                <label class="student-data-card-data">
                                    First Name
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="row">

                            <div class="col-md-3">
                                <label class="student-data-card-label">
                                    City
                                </label>
                            </div>
                            <div class="col-md-9">
                                <label class="student-data-card-data">
                                    First Name
                                </label>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="row card-div">
                    <div class="col-md-6">

                        <div class="row">
                            <div class="col-md-3">
                                <label class="student-data-card-label">
                                    Height
                                </label>
                            </div>
                            <div class="col-md-8">
                                <label class="student-data-card-data">
                                    First Name
                                </label>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="row">
                            <div class="col-md-3">
                                <label class="student-data-card-label">
                                    Wight
                                </label>
                            </div>
                            <div class="col-md-8">
                                <label class="student-data-card-data">
                                    First Name
                                </label>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row card-div">
                    <div class="col-md-6">

                        <div class="row">
                            <div class="col-md-3">
                                <label class="student-data-card-label">
                                    Hobbies
                                </label>
                            </div>
                            <div class="col-md-9">
                                <label class="student-data-card-data">
                                    First Name
                                </label>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>